opencv-python==4.11.0.86 
ultralytics==8.3.111 
ultralytics-thop==2.0.1
lab==5.1
fastapi==0.115.12
#uvicorn[standard]
uvicorn==0.34.2
python-multipart==0.0.20
easyocr==1.7.2
websocket-client==1.8.0
websockets==15.0.1